Arsen.darcula-theme-for-elixir
eamodio.gitlens
elixir-lsp.elixir-ls
elmTooling.elm-ls-vscode
JakeBecker.elixir-ls
mjmcloug.vscode-elixir
mrmlnc.vscode-scss
ms-azuretools.vscode-docker
ms-python.python
sbrink.elm
sdras.night-owl
streetsidesoftware.code-spell-checker
tomphilbin.gruvbox-themes
vscode-icons-team.vscode-icons
waderyan.gitblame
WakaTime.vscode-wakatime
wholroyd.jinja
