{
    "window.zoomLevel": 1,
    "workbench.iconTheme": "vscode-icons",
    "editor.tabSize": 2,
    "editor.insertSpaces": true,
    "editor.formatOnSave": true,
    "editor.multiCursorModifier": "ctrlCmd",
    "git.enableSmartCommit": true,
    "editor.renderWhitespace": "boundary",
    "files.trimTrailingWhitespace": true,
    "workbench.statusBar.visible": true,
    "editor.fontFamily": "'Fira Code'",
    "editor.fontLigatures": true,
    "explorer.confirmDelete": false,
    "workbench.colorTheme": "Darcula theme for Elixir",
    "elm.makeCommand": "elm-make",
    "extensions.autoUpdate": true,
    "kite.showWelcomeNotificationOnStartup": false,
    "terminal.integrated.rendererType": "dom",
    "elm.compiler": "./assets/node_modules/.bin/elm",
    "typescript.format.insertSpaceAfterTypeAssertion": true,
    "elm.disableLinting": true,
    "vsicons.dontShowNewVersionMessage": true,
    "git.path": "/usr/bin/git",
    "elixirLS.fetchDeps": false,
}