{
    "window.zoomLevel": 0,
    "workbench.iconTheme": "vscode-icons",
    "editor.tabSize": 2,
    "editor.insertSpaces": true,
    "elm.formatOnSave": true,
    "editor.multiCursorModifier": "ctrlCmd",
    "git.enableSmartCommit": true,
    "editor.renderWhitespace": "boundary",
    "files.trimTrailingWhitespace": true,
    "workbench.statusBar.visible": false,
    "editor.fontFamily": "'Fira Code'",
    "editor.fontLigatures": true,
    "workbench.colorTheme": "Monokai Dimmed",
    "explorer.confirmDelete": false
}
